/* Person 样式 */
.person {
    width: 50%;
    height: 50%;
    border: 1px double black;
    border-radius: 10px;
    background-color: #dfe;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

input {
    margin: 5px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}